.darkModeButtonBottom {
  position: fixed;
  right: 10px;
  bottom: 10px;

  z-index: 100;
  display: block;
}

.darkModeButtonTop {
  display: none;
}

@media screen and (min-width: 1025px) {
  .darkModeButtonBottom{
    display: none;
  }

  .darkModeButtonTop {
    position: fixed;
    right: 40px;
    top: 10px;

    z-index: 102;
    display: block;
  }
}
