.container{
    max-height: 100%;
    max-width: 1024px;
    margin: auto;
}

.head{
    margin: 20px 20px 10px 20px;
}

.parrafo{
    gap: 10px;
}

.titulo{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}


@media screen and (min-width: 1025px) {
    .head{
        margin: 20px 0px 10px 0px;
    }
}