.container {
    max-width: 1024px;
    margin: 20px;

}

.head {
    margin: 20px 20px 10px 20px;
}


.titulo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.card {
    width: 320px;
    max-height: 550px;
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.cardData {
    width: 100%;
    flex: 1;
}

.cardImage {

    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 200px;
    
}

.cardImage img {

    width: 100%;
    height: 210px;
    border-radius: 5px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 1);
    transition: all 0.6s ease;
    object-fit: cover;
    object-position: top;


}

.enlargedImageOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;


}

.enlargedImage {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}
 
.clickOverlay {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--color-tertiary);
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;

    border: 1px solid var(--color-tertiary);
}

.filterButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: 400;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: solid;
    padding-bottom: -10px;
    align-items: center;
    color: var(--color-text-dark);
}

.dark .filterButtons{
    color: var(--color-text-ligth);
}

.dark .filterButton{
    color: var(--color-text-ligth);
}

.activeFilter {
    color: var(--color-tertiary);
    background-color: var(--color-text-dark) ; 
    padding: 10px 5px 10px 10px;
    border-radius: 8px 8px 0 0;
  }

@media screen and (min-width: 1025px) {

    .container {
        margin: auto;
    }

    .head {
        margin: 20px 0 10px 0;
    }

    .cardsContainer {
        justify-content: space-between;
    }


    .filterButtons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-weight: 700;
        gap: 20px;
        margin-top: 30px;
        margin-bottom: 20px;
        width: 100%;
        border-bottom: solid;
        padding-bottom: -10px;
    }

    .activeFilter {
        color: var(--color-tertiary);
        background-color: var(--color-text-dark) ; 
        padding: 10px 10px 3px 10px;
        border-radius: 8px 8px 0 0;
      }

}