@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-dark: #231454;
  --color-background-ligth: #E6ECFF;
  --color-text-ligth: #F9F6FF;
  --color-background-dark: #000000;
  --color-primary: #8A6AE6;
  --color-secondary: #D16AE6; 
  --color-tertiary: #C9E265;
  --color-cuarty:#DBE4B8;
}
/* 
body{
  font-family: "Raleway", sans-serif;
  background-color: var(--color-text-ligth);
  color: var(--color-text-dark);
}

body a{
    color: var(--color-text-dark);
}

body svg{
  color: var(--color-text-dark);
}

[data-theme="dark"] body {
  font-family: "Raleway", sans-serif;
  background-color: var(--color-background-dark);
  color: var(--color-text-ligth);
}

.dark body svg{
  color: var(--color-text-ligth);
}

.dark body a{
  color: var(--color-text-ligth);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
